{% extends 'layout.html.twig' %}

{% block page_title %}Cool Framework{% endblock %}

{% block content %}
    {% if session is not defined %}
<h1>
  Welcome to Twtter<br>
  <small>By Karla & Emeline The BADASS </small>
</h1>
{% else %}
Hello {{ session.u_first }}
<nav>
        <ul>
            <li>
                <a href="
   "> Accueil</a>
            </li>
            <li>
                <a href="">Notification</a>
            </li>
            <li>
                <a href="
  ">Message</a>
            </li>
        </ul>
        <li>
          Recherche: 
            </li>
    </nav>
    
{% endif %}

{% endblock %}
