{% extends 'layout.html.twig' %}
{% block page_title %}Twitter{% endblock %}

{% block content %}
 {% if session is not defined %}
coucou
    {% else %}
        <h1>Hello {{session.u_first | title}}</h1>
        <a href="?action=tweet">GO PROFILE</a><br><br>

    {% endif %}
<h2>List of users : </h2>
{% for user in users %}

        {{ user.firstname }}
    {% endfor %}

<div class="col">
    <form action="./Controller/MainController.php" method="POST">
        <div class="form-group">
            <label for="content">Content</label>
            <textarea name="content" id="content" class="form-control"><?= $content ?></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div>
			

       
   

    


