{% extends 'layout.html.twig' %}

{% block page_title %}Twitter{% endblock %}

{% block content %}
    {% if session is not defined %}
<<<<<<< HEAD
<h1>
  Welcome to Twtter<br>
  <small>By Karla & Emeline The BADASS </small>
</h1>
{% else %}
Hello {{ session.u_first }}
<nav>
        <ul>
            <li>
                <a href="
   "> Accueil</a>
            </li>
            <li>
                <a href="">Notification</a>
            </li>
            <li>
                <a href="
  ">Message</a>
            </li>
        </ul>
        <li>
          Recherche: 
            </li>
    </nav>
    
{% endif %}

{% endblock %}
=======

    {% else %}
        <h1>Hello {{session.u_first}}</h1>
        <textarea name="" id="" cols="30" rows="10" placeholder="tweet"></textarea>
        <h2>List of users : </h2>

        {% for user in users %}

            {{ user['firstname'] }}

        {% endfor %}

    {% endif %}
{% endblock %}
>>>>>>> emeline
