{% extends 'layout.html.twig' %}

{% block page_title %}Cool Framework{% endblock %}

{% block content %}
<h1>
  Welcome to Twtter<br>
  <small>By Karla & Emeline The BADASSSSSSS (Future MAJOR PROMO or 	resigning...) </small>
</h1>
{% endblock %}
