{% extends 'layout.html.twig' %}

{% block page_title %}{{ parent() }} - login {% endblock %}

{% block content %}
    <div class="errors">
        {{ error }}
    </div>
    <form action="?action=login" method="POST" class="loginForm">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" value="{{ username }}"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit">
    </form>
{% endblock %}