{% extends 'layout.html.twig' %}

{% block page_title %}Twitter{% endblock %}

{% block content %}
    {% if session is defined %}
        {% if data is defined %}
            <br>
            <form name="new-comment" method="post" action="?action=addTweet">
                <textarea name="comment-content" id="content"></textarea>
                <br> <button type="submit" name="submit-comment-btn">Tweet!</button>
            </form>

            <div class="comments">


                    {% for posts in data %}
                <ul>
                        <li><h4><a chref="">{{ posts.firstname }}</a>   Posted {{ posts.creation_date }}</h4>
                                <div class="msg">{{ posts.content }}
                            </div>                            <br>

                            </li>
                </ul>
                    {% endfor %}

            </div>
        {% endif %}
    {% else %}

    {% endif %}
{% endblock %}