{% extends 'layout.html.twig' %}
{% block page_title %}TWEETER{% endblock %}

{% block content %}
    {% if session is not defined %}
<br><h1>Welcome to <br>THE BADASS <i><mark>TWEETER</mark></i></h1>
        <div style="color:white">Don't destroy this beautiful website Puck, please !</div>
    {% else %}
        <h2>TWEETER'S MEMBERS:<br></h2>
        {% for user in users %}
            <h3><a href="?action=userProfile" name="user">{{ user.firstname }}</a></h3>
        {% endfor %}
    {% endif %}
{% endblock %}
